{% extends 'base/base.html' %}

{% block content %}
    <div class="container konten">
        <div class="row align-items-center">
            <div class= "col-6 gambar">
                <img class="benefit" src="../../static/asset/home/benefit.png"></br>
                <img class="job" src="../../static/asset/home/search-job.png"></br>
                <img class="paid" src="../../static/asset/home/get-paid.png"></br>
                <img class="mission" src="../../static/asset/home/mission.png"></br>
            </div>
            <div class="col-6 teks">
                <section class="no_satu">
                    <h3>Learn Awesome Tech</h3>
                    <p>You will learn some programming language such as: Python, and Javascript,
                     build back-end apps using flash framework and microservice concept, build client-side apps
                     using React library etc.
                    </p>
                </section>
                <section class="no_dua">
                   <h3>Land New Job</h3>
                   <p>If you can pass this awesome program, you will be part of our reliable Tech
                    team for especially, Software Engineer position and other tech position such 
                    Quality Engineer, System Analyts, etc.
                   </p>
                </section>
                <section class="no_tiga">
                    <h3>get Paid To Learn</h3>
                    <p>Join for free and earn some money. Yes you read that right, no registration 
                    fee required to enter to enter this program. To make things even better,you will get
                    pocket money to participating only. Cool right?
                    </p>
                </section>
                </br>
                <section class="no_empat">
                    <h2>Who Are We?</h2>
                    <p>Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT Background)
                    a chance to be professional Tech Talent within 3 months.
                    </p>
                    </br>
                    <h2>What is Our Mission?</h2>
                    <p>We want to improve capability of tech talent Indonesia.
                    </p>
                </section>
            </div>
        </div>
        </br>
        <div class="container skill_list">
            <div class="col-6 skill">
                <h1>What will you learn?</h1>
                </br>
                <img class="html" src="../../static/asset/home/learn-html.png">
                <img class="py" src="../../static/asset/home/learn-programming.png">
                <img class="git" src="../../static/asset/home/learn-git.png">
                <img class="api" src="../../static/asset/home/learn-api.png">
            </div>
            <div class="col-6 skill">
                <img class="react" src="../../static/asset/home/learn-react.png">
                <img class="tdd" src="../../static/asset/home/learn-tdd.png">
                <img class="server" src="../../static/asset/home/learn-server.png">
                <img class="scrum" src="../../static/asset/home/learn-scrum.png">
            </div>
        </div>
    </div>
{% endblock %}