{% extends 'base/base.html' %}

{% block content %}
    
    
    <form method="POST", action="{% url 'todb' %}">
        <h3 class="h3-form">Submit Blog Post</h3>
        {% csrf_token%}
        <label id="judul_post">What is your Title?</label>
        </br>
        <input type="text" name="judul_post" id="judul_post"></input></br>
        <label id="konten_post">What is your Content?</label>
        </br>
        <textarea name="konten_post" cols="32" rows="8" id="konten_post"></textarea></br>
        <label id="gambar_post">Your Image URL</label>
        </br>
        <input type="text" name="gambar_post" id="gambar_post"></input></br>
        </br>
        <button type="submit">SAVE</button>
    </form>
{% endblock %}