{% extends 'base/base.html' %}

{% block content %}
    <h3 id="mentor_judul"> Our Mentor<h3> 
    {% for m in mentors %}
    <div class="container-fluid konten">

      <div class="row align-items-center">
            <div class= "col-6 mentee_satu">
                    <img class="job_mentor" src="{{m.gambar}}"/>
            </div>
            <div class="col-6 mentee_dua">
                    <section class="satu_mentor">
                            <h4>{{m.nama}}</h4>
                            <p id="jabatan_mentor"><strong>{{m.jabatan}}</strong></p>
                            <p id="qoute_mentor">{{m.qoute}}</p>
        
                    </section>
            </div>
       </div>
               
    </div>
    {% endfor %}
 {% endblock %}