{% extends 'base/base.html' %}

{% block content %}
        <h3 id="mentee_judul"> Our Mentees<h3> 
        {% for m in mentees %}
        <div class="container-fluid konten">
            
            <div class="row align-items-center">
                <div class= "col-6 mentee_satu">
                    <img class="job_mentor" src="{{m.gambar}}"/>
                </div>
                <div class="col-6 mentee_dua">
                    <section class="satu_mentor">
                        <p id="nama_mentee"><strong>{{m.nama}}</strong></p>
                        <p id="isi_mentee">{{m.qoute}}</p>
                    
                    </section>
                </div>
            </div>
                           
        </div>
        {% endfor %}
{% endblock %}